html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

textarea {
  resize: none !important;
}

.chakra-modal__content-container{
align-items: flex-end !important;
justify-content: flex-end !important;
}

.main-bg{
  background-image: url("/images/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}
.bg-dark {
  background: rgba(0, 0, 0, 0.5);
}